body {
  color: #2d343a;
}
html {
  scroll-behavior: smooth;
}
.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 10;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.lading_even_item  {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.lading_even_item .img_wrapper {
  background-color: #2d343a;
  border-radius: 50%;
}
.lading_odd_item  {
  background-color: #2d343a;
  color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.lading_odd_item .item .img_wrapper {
  background-color: #fff;
  border-radius: 50%;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -125px !important;
}
.slick-prev {
  position: relative;
}
.slick-next {
  position: relative;
}
.slick-prev::after {
  content: "";
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background: url("../rightarrow2.svg") !important;
  width: 40px !important;
  height: 40px !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border-radius: 50% !important;
  transition: 0.3s all ease-in-out !important;
}
.slick-next::before,
.slick-prev::before {
  display: none !important;
}
.slick-next::after {
  content: "";
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background: url("../leftarrow.svg") !important;
  width: 40px !important;
  height: 40px !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border-radius: 50% !important;
  transition: 0.3s all ease-in-out !important;
}
.slick-next::after:hover {
  opacity: 0.8 !important;
}
.slick-prev::after:hover {
  opacity: 0.8 !important;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -125px !important;
}
.hide_img_arrow2 img {
  display: none;
}
.slick-dots {
  position: absolute;
  bottom: -70px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li button::before {
  font-family: "slick";
  font-size: 12px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, #2d343a) !important;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important; */
  background: #d6d8d9;
  padding: 10px;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #2d343a !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: swiper-icons;
  font-size: 20px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font-weight: bold !important;
}

.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, -5px) !important;
  left: auto;
}
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, -5px) !important;
  right: auto;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

@media screen and (max-width: 830px) {
  [dir="rtl"] .slick-next {
    right: auto;
    left: -75px !important;
    z-index: 50;
  }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -75px !important;
  }
  .slick-next::after {
    content: "";
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: url("../mobileleftarrow.png") !important;
    width: 40px !important;
    height: 40px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border-radius: 50% !important;
    transition: 0.3s all ease-in-out !important;
  }
  .slick-prev::after {
    content: "";
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: url("../rightarrow.svg") !important;
    width: 40px !important;
    height: 40px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border-radius: 50% !important;
    transition: 0.3s all ease-in-out !important;
  }
}
